body {
    direction: rtl;
    text-align: right;
}

.app .navbar-brand {
    margin-right: 0;
    margin-left: 30px;
}

.app .app-search {
    margin-left: 0px;
    margin-right: 40px;
}

.app .app-search .btn {
    /* left: unset; */
    /* right: 20px; */
    text-align: right;
}

.app .app-search .btn.close-btn {
    right: auto;
    left: 20px;
}


.app-slider .carousel-control {
    right: unset;
    left: 50px;
}

.app-slider .carousel-indicators {
    left: auto;
    right: 60px;
    margin-left: unset;
    margin-right: 0;
}

.app-section .app-heading .text:before {
    left: unset;
    right: 0;
}

.list-movie .list-media .list-media-attr .imdb {
    right: unset;
    left: 20px;
}

.list-movie .list-media .list-media-attr .quality {
    left: unset;
    right: 20px;
}

.list-episode .list-date {
    right: unset;
    left: 10px;
}

svg.nav-icon {
    margin-right: unset;
    margin-left: 15px;
}

.nav-trend .nav-content svg {
    margin-right: unset;
    margin-left: 10px;
}

.app-section .app-heading .text {
    padding-left: unset;
    padding-right: 20px;
}

.container-fluid {
    padding: 0;
}

.app .app-header {
    padding: 0 24px;
}

.app .app-wrapper {
    padding: 0 24px;
}

.list-episode .list-media {
    margin-right: unset;
    margin-left: 14px;
}

@media only screen and (min-width: 960px) {
    .bar_icon {
        float: right;
        margin-left: 10px;
        margin-right: unset;
    }

    .app .navbar-brand {
        float: left;
    }
}

.jw-title {
    position: absolute;
    top: 0;
    text-align: right;
    right: 62px;
}
